body{
  font-family: 'Strait', sans-serif;
  margin: 0;
  padding: 0;
}

//classes
.fixwidth{
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.header{
  box-shadow: 0px 2px 10px #ffcccc;
  position: sticky;
}

//header section

header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  div{
    img{
      max-width: 100%;
    }
    nav{
      ul{
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        li{
          min-width: 12%;
          text-align: center;
          margin: 10px;
          font-size: 14px;
          a{
            text-decoration: none;
            display: block;
            //box-shadow: 0px 1px 5px #4b4b4b;
            padding: 10%;
            text-transform: uppercase;
            border-radius: 5px;
            color:#000;
            &:hover{
              box-shadow: 0px 1px 10px #4b4b4b;
              transition: all ease-in-out 0.3s;
              background: #000;
              color:#fff;

            }
          }
        }
      }
    }
    &:first-of-type{
      flex-grow: 1;
    }
    &:nth-of-type(2){
      flex-grow: 2;
    }
  }
}
